body{
    margin: 10px;
    padding: 0;
}
.title{
    width: 100%;
    padding: 10px 0px;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.text{
    padding: 10px 0px;
    font-family: 'Courier New', Courier, monospace;
}
.box{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #ff6357;
    animation: move 1s linear 0s infinite alternate;
}
.foo{
    position: relative;
    width: 300px;
    left: calc(50% - 150px);
}
@keyframes move {
    0%{
        transform: translateX(-150px);
    }
    100%{
        transform: translateX(150px);
    }
}